### 1.Create a list of squares of numbers from 1 to 10 using list comprehension.

In [3]:
l=[3,4,5,6]
s=[i*i for i in l]

In [4]:
s

[9, 16, 25, 36]

### 2.Generate a list of even numbers from 1 to 20 using list comprehension.

In [5]:
d=[x for x in range(20) if x%2==0]

In [6]:
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
h=[x for x in range(0,20,2)]

In [10]:
h

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### 3. Create a list of the first letters of each word in the list: ["apple", "banana", "cherry", "date"].

In [11]:
words=["apple","banana","cherry","date"]

In [17]:
f_l=[word[0] for word in words]

In [18]:
f_l

['a', 'b', 'c', 'd']

### 4.Convert a list of temperatures in Celsius [0, 10, 20, 30, 40] to Fahrenheit using list comprehension. (Formula: F = (C * 9/5) + 32)

In [20]:
celsius=[0,10,20,30,40]
fahrenheit=[(c*9/5)+32 for c in celsius]

In [21]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

### 5.create a list of the first 10 natural numbers using list comprehension.

In [22]:
n=[i for i in range(11)]

In [23]:
n

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 6.Generate a list of cubes of numbers from 1 to 10.

In [25]:
c=[i*i for i in range(11)]

In [26]:
c

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 7.Extract the first character from each word in the list: ["apple", "banana", "cherry", "date"].

In [27]:
w=["apple","banana","cherry","date"]
h=[i[0]  for i in w]

In [28]:
h

['a', 'b', 'c', 'd']

### 8.Given a string "Python is fun", create a list of words in the string.

In [33]:
s="python is fun"
l=[i for i in s.split()]

In [34]:
l

['python', 'is', 'fun']

### 9.Convert a list of strings ["Hello", "World", "Python"] to uppercase using list comprehension.

In [37]:
l=["hello","world","python"]
j=[i.upper() for  i in l]

In [38]:
j

['HELLO', 'WORLD', 'PYTHON']

#### conditional list comprehension

### 1.Create a list of numbers from 1 to 50 that are divisible by both 3 and 5.

In [39]:
l=[i for i in range(50) if i%3==0 and i%5==0]

In [40]:
l

[0, 15, 30, 45]

### 2.Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], create a new list containing only the odd numbers.

In [41]:
l=[1,2,3,4,5,6,7,8,9,10]
j=[i for i in l if i%2!=0]

In [42]:
j

[1, 3, 5, 7, 9]

### 3.Given a string "hello world", create a list of vowels present in the string.

In [46]:
s="hello world"
v=[i for i in s if i in "aeiou"]
v

['e', 'o', 'o']

### 4.Convert a list of words ["Hello", "WORLD", "Python", "LiSt"] to lowercase using list comprehension.

In [47]:
l=["HELLO","WORLD","Python","liSt"]

In [48]:
s=[i.lower() for i in l]

In [49]:
s

['hello', 'world', 'python', 'list']

### 5.Create a list of even numbers from 1 to 50.

In [53]:
j=[i for i in range(0,50,2)]

In [54]:
j

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

### 6.Generate a list of numbers from 1 to 20 that are not divisible by 3.

In [55]:
t=[i for i in range(20) if i%3!=0]

In [56]:
t

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

### 7.Given a list [5, 12, 17, 9, 3, 21, 30], create a new list containing only numbers greater than 10.

In [57]:
l=[5,12,17,9,3,21,30]
g=[i for i in l if i>10]

In [58]:
g

[12, 17, 21, 30]

### 8.Create a list of squares of only the even numbers from 1 to 10.

In [59]:
l=[i*i for i in range(0,10,2)]

In [60]:
l

[0, 4, 16, 36, 64]

### 9.Given a list of words ["dog", "elephant", "cat", "rabbit"], create a new list containing only words with more than 3 letters.

In [61]:
w2=["dog","elephant","cat","rabbit"]
l=[w for w in w2 if len(w)>3]

In [62]:
l

['elephant', 'rabbit']