In [2]:
import pandas as pd
from functools import reduce

class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks  # dictionary {subject: marks}
    
    def total(self):
        return sum(self.marks.values())
    
    def average(self):
        return self.total() / len(self.marks)
    
    def grade(self):
        avg = self.average()
        if avg >= 90:
            return 'A'
        elif avg >= 75:
            return 'B'
        elif avg >= 60:
            return 'C'
        else:
            return 'D'

students = []

try:
    n = int(input("Enter number of students: "))
    for _ in range(n):
        name = input("Enter student name: ")
        subjects = ("Math", "Science", "English")
        marks = {sub: int(input(f"Enter marks for {sub}: ")) for sub in subjects}
        students.append(Student(name, marks))
except Exception as e:
    print("Error:", e)

# Using pandas for tabular output
data = {
    "Name": [s.name for s in students],
    "Total": [s.total() for s in students],
    "Average": [s.average() for s in students],
    "Grade": [s.grade() for s in students]
}

df = pd.DataFrame(data)
print("\nStudent Report Card:")
print(df)

# Find top student using reduce
top_student = reduce(lambda a, b: a if a.total() > b.total() else b, students)
print(f"\nTop Student: {top_student.name} with {top_student.total()} marks")

Enter number of students:  7
Enter student name:  radhika
Enter marks for Math:  78
Enter marks for Science:  98
Enter marks for English:  87
Enter student name:  sanjana
Enter marks for Math:  89
Enter marks for Science:  90
Enter marks for English:  77
Enter student name:  siri
Enter marks for Math:  77
Enter marks for Science:  68
Enter marks for English:  56
Enter student name:  vyshnavi
Enter marks for Math:  99
Enter marks for Science:  89
Enter marks for English:  98
Enter student name:  vinya
Enter marks for Math:  67
Enter marks for Science:  56
Enter marks for English:  54
Enter student name:  vineetha
Enter marks for Math:  89
Enter marks for Science:  76
Enter marks for English:  56
Enter student name:  sadha
Enter marks for Math:  88
Enter marks for Science:  56
Enter marks for English:  76

Student Report Card:
       Name  Total    Average Grade
0   radhika    263  87.666667     B
1   sanjana    256  85.333333     B
2      siri    201  67.000000     C
3  vyshnavi    286  95.333333     A
4     vinya    177  59.000000     D
5  vineetha    221  73.666667     C
6     sadha    220  73.333333     C

Top Student: vyshnavi with 286 marks